
<h1>Share your opinion, see what others think.</h1>
<p> Do you have what it takes to influence the opinions of others?</p>

<%= link_to "Sign up to share your opinions!", signup_path, :class => "signup_button round" %>

